<div class="type-pers-parent">
  <div class="type-pers-child">
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi porttitor nisl id est auctor mollis sed non urna. Sed et ornare neque.</p>
  </div>
</div>