<header>
    <div id="nav-belt">
        <div class="nav-left"></div>
        <div class="nav-fill"></div>
        <div class="nav-right">
            <div id="nav-tools">
                <a class="nav-a nav-a-2 nav-truncate" id="nav-link-accountList">
                    <div class="nav-line-1-container"></div>
                    <span class="nav-line-2 nav-long-width"></span>
                    <span class="nav-line-2 nav-short-width"></span>
                </a>
            </div>
        </div>
    </div>
    <div id="nav-flyout-anchor">
        <div id="nav-signin-tt nav-flyout">
            <div class="nav-arrow">
                <div class="nav-arrow-inner">
            </div>
            <div id="nav-signin-tooltip"></div>
            <div class="nav-flyout-buffer-left"></div>  
            <div class="nav-flyout-buffer-right"></div> 
            <div class="nav-flyout-buffer-top"></div>   
            <div class="nav-flyout-buffer-bottom"></div>    
        </div>
    </div>
    <div id="layers">
        ...
        <div class="css-idbjc4n r-1xcajam" style="bottom: 79px; left: 21px;">
            <div class="css-idbjc4n">
                <svg class="r-uoibet r-9uutrm r-lrsllp" style="left: calc(138px);"></svg>
                <div class="css-1dbjc4n r-1azx6h r-7mdpej r-1vsu8ta r-ek4qxl r-1dqxon3 r-1ipicw7">
                    <div class="css-1dbjc4n r-1w50u8q">
                        <li></li>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
