<div class="process">
    <ol class="process-items">
        <li class="active">Step 1
        <em>just do it</em></li>
        <li>Step 2
        <em>yesterday you said tomorrow</em></li>
        <li>Step 3
        <em>just do it</em></li>
        <li>Step 4
        <em>make your dreams come true</em></li>
    </ol>
    <canvas id="canvas" width="800" height="55"></canvas>
</div>