<div id="nav-container">
  <div class="toggle-icon">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div><!-- /toggle-icon -->
</div><!-- /nav-container -->